$font-stack: "Times New Roman";
$font-color: #fff;

/* Main blocks */
$bg-color: #fe0000;
$square: 500px;
$margin: 5px;

/* Small blocks */
$top-left-color: #fff;
$top-right-color: #008001;
$bottom-left-color: #808080;
$bottom-right-color: #000;

$small-square: 100px;
$small-rectangle: 150px;