html {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

ul, li, a {
    font-size: .8em;
}