/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts import */
@font-face {
  font-family: "Founders Grotesk Regular";
  src: url(../fonts/foundersgrotesk-regular.otf); }
@font-face {
  font-family: "Stanley Poster";
  src: url(../fonts/stanleyposter-regular.otf); }
@font-face {
  font-family: "Aileron Regular";
  src: url(../fonts/aileron-regular.otf); }
@font-face {
  font-family: "Aileron Bold";
  src: url(../fonts/aileron-bold.otf); }
@font-face {
  font-family: "Aileron Italic";
  src: url(../fonts/aileron-italic.otf); }
@font-face {
  font-family: "Myriad Pro Regular";
  src: url(../fonts/myriadpro-regular.otf); }
/* Styles */
.clearfix {
  overflow: auto;
  zoom: 1; }

body {
  overflow-x: hidden; }

header, nav, main, footer {
  font-size: 1rem; }

header, nav {
  font-family: "Founders Grotesk", sans-serif;
  position: relative;
  border: 1px solid #e5e5e5; }
  header ul, nav ul {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    header ul li, nav ul li {
      display: inline-block;
      padding: 0 10px; }
      header ul li a, header ul li a:active, nav ul li a, nav ul li a:active {
        color: #000;
        text-decoration: none;
        font-size: .9em; }

header, nav, main, footer {
  width: 80vw;
  padding: 0 10vw; }

header {
  height: 45px; }
  header ul li:nth-child(1) {
    border-right: 1px dotted #999999; }
  header ul:nth-child(1) li a {
    color: #999999; }
  header ul:nth-child(2) {
    right: 10vw; }

nav {
  margin-top: 200px;
  height: 60px; }
  nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60vw; }
    nav ul li {
      text-transform: uppercase; }
    nav ul li:not(:last-child) {
      border-right: 1px dotted #999999; }

main {
  margin-top: 5px; }
  main section {
    margin-top: 20px;
    text-align: center;
    position: relative; }
  main section > img {
    width: 100%; }
  main section:not(:first-child) {
    width: 33%;
    width: calc(33.33% - 14px); }
  main section:nth-child(5) {
    line-height: 1.1; }
  main div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  main h2 {
    text-transform: uppercase;
    color: #fff;
    font-family: "Stanley Poster", sans-serif;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 1.8; }
  main label, main h3 {
    font-family: "Aileron Regular", sans-serif;
    color: #fff;
    font-size: 1.1em; }
  main label > span {
    font-family: "Aileron Bold", sans-serif; }
  main section:not(:first-child) {
    float: left; }
  main section:not(:nth-child(-n+2)) {
    margin-left: 20px; }
  main h4 {
    font-family: "Aileron Italic", sans-serif;
    color: #fff;
    font-size: 1.1em; }
  main a, main a:active {
    color: #a9c7bf;
    font-size: 1.1em; }

ul > li {
  display: inline-block; }

footer {
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px; }
  footer table {
    width: 100%;
    text-align: center; }
    footer table tr th, footer table td {
      width: 33.33%; }
    footer table tr th {
      font-family: "Stanley Poster", sans-serif;
      font-size: 1.1em;
      padding-bottom: 20px; }
    footer table tr td {
      font-family: "Founders Grotesk Regular", sans-serif;
      font-size: 1.1em; }
  footer div {
    font-family: "Myriad Pro Regular";
    font-size: .9em;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px; }
  footer a, footer a:active {
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=styles.css.map */
